<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.0" targetFramework="portable-win81+wpa81" />
  <package id="MetroLog" version="0.8.6.1" targetFramework="portable-win81+wpa81" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="portable-win81+wpa81" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="portable-win81+wpa81" />
  <package id="Prism.PubSubEvents" version="1.1.2" targetFramework="portable-win81+wpa81" />
  <package id="Prism.StoreApps" version="2.0.0" targetFramework="portable-win81+wpa81" />
  <package id="UniRock" version="2.0.5371.39092" targetFramework="portable-win81+wpa81" />
</packages>